/*Regole generali*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.margin-bottom10{
  margin-bottom: 10px;
}



/*Regole barra sinistra*/
#sx-fix-bar{
  height: calc(100vh - 100px);
  background-color: black;
  color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  overflow: auto;
}
#sx-fix-bar li a{
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  color: grey;
}
.logo{
  height: 40px;
  margin: 10px 0;
  align-self: flex-start;
  flex-shrink: 0;

}
.icons{
  height: 25px;
  display: inline-block;
  margin-right: 10px;
}
.icon-plus{
  font-size: 30px;
  margin: 10px 10px 0 0;
}


/*Regole main*/
#header-fix-bar{
  width: calc(100vw - 200px);
  background-color: #0B0B0B;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}

div#header-fix-bar button{
  height: 40px;
  width: 200px;
  background: bottom;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  align-self: center;
}



/*Regole parte centrale*/
#central-section{
  background-color:#121212;
  height: calc(100vh - 200px);
  margin-top: 100px;
  margin-left: 200px;
  height: 100vh;
}



/*Regole footer*/
#bottom-fix-bar{
  background-color: #272727;
  height: 100px;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}
