/*Regole generali*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: white;
}
.margin-bottom10{
  margin-bottom: 10px;
}
ul{
  list-style: none;
}
h5{
  color: grey;
}
.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*Regole barra sinistra*/
#sx-fix-bar{
  height: calc(100vh - 100px);
  background-color: black;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  overflow: auto;
}
#sx-fix-bar li a{
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: grey;
}
.logo{
  height: 40px;
  margin: 10px 0;
  align-self: flex-start;
  flex-shrink: 0;
}

.icons{
  height: 25px;
  margin-right: 10px;
}
.icon-plus{
  font-size: 30px;
  margin: 10px 10px 0 0;
}


/*Regole main*/
#header-fix-bar{
  width: calc(100vw - 200px);
  background-color: #0B0B0B;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}

div#header-fix-bar button{
  height: 40px;
  width: 200px;
  background: bottom;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  align-self: center;
}
.nav{
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 10px 0;

}
.nav ul li{
  display: inline-block;
  padding: 20px;
  color: grey;
}
.nav a{
  text-decoration: none;
  display: inline-block;
}

/*Regole parte centrale*/
#central-section{
  background-color:#121212;
  height: 100vh;
  margin-top: 100px;
  margin-left: 200px;
  overflow: auto;
}
.container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px 20px 0 0;
}
.container img{
  width: 180px;
  margin: 0 15px;
}
div.locandina{
  flex-basis: calc((100vw/6) - 200px);
  /*width: 15%;*/
}






/*Regole footer*/
#bottom-fix-bar{
  background-color: #272727;
  height: 100px;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}
#bottom-fix-bar img{
  height: 50px;
  margin: 0 10px;
}
div.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bottom-fix-bar div.flex i{
  margin: 0 5px 0 20px;
}
#play-bar{
  width: 100%;
  justify-content: space-between;
}
#played{
  justify-content: center;
}
.played{
  width: 300px;
  border-radius: 3px;
  margin: 0 10px;
  background-color: grey;
}
.played2{
  width: 100px;
  border: 2px solid white;
  border-radius: 3px;
}
.audio-bar{
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
  background-color: grey;
  margin-right:30px;
}
.audio-bar2{
  width: 20px;
  border: 2px solid white;
  border-radius: 3px;

}
