/*Regole generali*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: white;
}
.margin-bottom20{
  margin-bottom: 20px;
}
ul{
  list-style: none;
}
h5{
  color: grey;
}
a{
  text-decoration: none;
  display: inline-block;
  color: grey;
}
.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.padding-left20{
  padding-left: 20px;
}

/*Regole barra sinistra*/
#sx-fix-bar{
  height: calc(100vh - 100px);
  background-color: black;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  overflow: auto;
}
#sx-fix-bar li a{
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: grey;
}
#list-profile{
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
img.profile{
  height: 20px;
  margin-right: 10px;
}
.logo{
  height: 40px;
  margin: 20px 0;
  align-self: flex-start;
  flex-shrink: 0;
}
.logo2{
  display: none;
}
.icons{
  height: 25px;
  margin-right: 10px;
}
.icon-plus{
  font-size: 30px;
  margin: 10px 10px 0 0;
}

/*Regole main*/
#header-fix-bar{
  width: calc(100vw - 200px);
  background-color: #0B0B0B;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}
div#header-fix-bar button{
  height: 40px;
  width: 200px;
  background: bottom;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  align-self: center;
  margin-right: 10px;
}
.nav{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.nav ul li{
  display: inline-block;
  padding: 10px;
}

/*Regole parte centrale*/
#central-section{
  background-color:#121212;
  height: calc(100vh - 200px);
  margin-top: 100px;
  margin-left: 200px;
  overflow: auto;
}
.container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px 0;
}
.container img{
  width: 180px;
  margin: 0 15px;
}
div.locandina{
  flex-basis: calc((100vw/6) - 200px);
}
.circle{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

/*Regole footer*/
#bottom-fix-bar{
  background-color: #272727;
  height: 100px;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}
#bottom-fix-bar img{
  height: 50px;
  margin: 0 10px;
}
div.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bottom-fix-bar div.flex i{
  margin: 0 5px 0 20px;
}
#play-bar{
  width: 100%;
  justify-content: space-between;
}
#played{
  justify-content: center;
}
.played{
  width: 300px;
  border-radius: 3px;
  margin: 0 10px;
  background-color: grey;
}
.played2{
  width: 100px;
  border: 2px solid white;
  border-radius: 3px;
}
.audio-bar{
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
  background-color: grey;
  margin-right:30px;
}
.audio-bar2{
  width: 20px;
  border: 2px solid white;
  border-radius: 3px;
}

/*media query*/
@media screen and (max-width: 1033px){
  div.nav{
    margin: 15px 0;
    text-align: center;
  }
}
@media screen and (min-width: 621px) and (max-width: 865px){
  div.played{
    width: 200px;
  }
  div.played2{
    width: 50px;
  }
  div.audio-bar{
    width: 60px;
    margin-right: 10px;
  }
  div.audio-bar2{
    width: 10px;
  }
}
@media screen and (min-width: 520px) and (max-width: 650px){
  #sx-fix-bar{
    width: 130px;
  }
  #central-section{
    margin-left: 130px;
  }
  #header-fix-bar{
    width: calc(100vw - 130px);
  }
  .logo{
    height: 30px;
  }
  div.played{
    width: 180px;
  }
  div.played2{
    width: 40px;
  }
  div.audio-bar{
    width: 50px;
    margin: 0 5px;
  }
  div.audio-bar2{
    width: 8px;
  }
  #bottom-fix-bar img{
    height: 40px;
    margin: 0 5px;
  }
  #bottom-fix-bar h4{
    font-size: 11px;
  }
  #bottom-fix-bar h5{
    font-size: 10px;
  }
  #bottom-fix-bar div.flex i {
    margin: 0 3px 0 10px;
    font-size: 13px;
  }
}
@media screen and (max-width: 520px){
  #sx-fix-bar{
    width: 50px;
  }
  #central-section{
    margin-left: 50px;
  }
  #header-fix-bar{
    width: calc(100vw - 50px);
  }
  #list-profile div.flex{
    justify-content: center;
  }
  .logo{
    display: none;
  }
  .logo2{
    display: block;
    height: 30px;
    margin: 10px 5px 10px 0;
  }
  div.margin-bottom20{
    margin-left: 5px;
  }
  #sx-fix-bar a, h4,h5, span, li i.icon-plus{
    display: none;
  }
  #bottom-fix-bar img{
    height: 40px;
    margin: 0 5px;
  }
  #bottom-fix-bar div.flex i {
    margin: 0 3px 0 5px;
    font-size: 10px;
  }
  div.played{
    width: 180px;
  }
  div.played2{
    width: 40px;
  }
  div.audio-bar{
    width: 50px;
    margin: 0 5px;
  }
  div.audio-bar2{
    width: 8px;
  }
}
